.log_out {
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-right: 10px;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &:hover {
        opacity: 0.8;
    }
}

header {
    .title {
        @import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Lacquer&display=swap');
        
        span {
            color: #033f6c;
            font-weight: 700;
        }
        
        font-family: "Jaro", sans-serif;
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: 200px;
        gap: 10px;
        font-size: 2rem;
        // font-weight: bold;
    }

    .cta_a {
        margin-right: 10vw;
        display: flex;
    
        a {
            font-weight: bold;
            padding-right: 3vw;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: clamp(1.4rem, 1.3vw, 999px);
    
            &:nth-child(4) {
                border-right: 2px solid grey;
            }
    
            position: relative;
        }
    
        
    }
}



@media (min-width: 900px) {
    header {

        .cta_a {
            .active {
                &:hover::before {
                    width: 80%;
                }
        
                &::before {
                    content: "";
                    width: 0;
                    height: 2px;
                    background-color: black;
                    position: absolute;
                    transform: translate(-10%, 1300%);
        
                    transition: all .5s ease;
                }

                // &::after {
                //     content: url("https://cdn-icons-png.flaticon.com/128/16026/16026574.png");
                //     position: absolute;
                //     height: 20px;
                //     width: 20px;
                //     transform: scale(0.1) translateY(-270%);
                // }
            }
        }
    }
}

@media (max-width: 1200px) {
    header {
        .title {
            display: none;
        }
    }
}