.page_layout {
    display: flex;
    height: 100dvh;
    overflow-x: auto;

    .nav {
        position: relative;
        box-shadow: 3px 4px 15px black;
        overflow: hidden;
        padding-top: 10px;
        width: 75px;
        height: 100%;
        // border-right: 1px solid #033f6c;
        transition: all .25s ease;

        // &:hover {
        //     width: 250px;
        // }
    }

    main {
        flex: 1;
        height: 100%;
        overflow-x: auto;
        display: flex;
        flex-direction: column;

        header {
            height: 110px;
            background-color: red;
        }

        section {
            height: 450px;
            background-color: antiquewhite;
        }

        footer {
            padding-left: 20px;
            height: auto;
            flex: 1;

            .img_warp {
                height: 50px;
                width: 50px;
                object-fit: contain;

                img {
                    height: 100%;
                }
            }
        }
    }
}

@media (min-width: 550px) {
    .nav {
        &:hover {
            width: 250px;
        }
    }
}

.nav.expand {
    width: 100%;
}

.nav.expand > .logo_detail > .menu {
    right: 45%;
}

.nav.expand >  .cta {
    align-items: center;
}