.logo_detail {
    // padding-left: 20px;
    width: 100vw;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
        
        background-color: transparent;
        transition: all .5s ease;        
    }

    span {
        white-space: nowrap;
        font-weight: bold;
        font-size: 20px;
        color: #033f6c;
    }
}

.cta {
    padding-top: 50px;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 75px);
    // border-top: 15px double #033f6c;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    gap: 25px;
    padding-left: 35px;
    padding-right: 50px;


    .item {
        position: relative;
        height: 30px;
        width: 170px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        transition: all 1s ease;
        cursor: default;

        &:not(.active) {
            cursor: pointer;
        }

        .logo {
            width: 25px;
            height: 25px;
            object-fit: cover;

            img {
                height: 100%;
                width: 100%;
            }
        }

        span {
            font-size: 1.5rem;
            font-weight: bold;
        }

        &.active::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background-color: orangered;
            opacity: 0.5;
            padding: 5px;
            padding-right: 15px;
            border-radius: 15px;
            left: -15px;
            opacity: 0.15;
            box-shadow: 3px 4px 4px black;
        }

        &:not(.active)::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background-color: gainsboro;
            opacity: 0.5;
            padding: 5px;
            padding-right: 15px;
            border-radius: 15px;
            left: -15px;
            opacity: 0.15;
            box-shadow: 3px 4px 4px black;
        }

        &:not(.active)::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 0px;
            background-color: #F5F5F5;
            opacity: 0.5;
            padding: 5px;
            padding-right: 15px;
            border-radius: 20px;
            left: -15px;
            visibility: hidden;
            transition: all .3s ease
        }

        @keyframes animate {
            0% {
                visibility: hidden;
            }
            30% {
                visibility: visible;
            }
            31% {
                width: 0px;
            }
            100% {
                width: 100%;
            }
        }
    }
}

//pc
@media (min-width: 600px) {
    .cta {
        .item {
            &:not(.active):hover::before {
                visibility: visible;
                width: 100%;
            }

            &:not(.active):hover {
                transform: scale(0.95);
            }
    
            &:not(.active):active {
                transform: scale(1.5);
            }
        }
    }

    .logo_detail {
        justify-content: flex-start;

        .menu {
            display: none;
        }

        .logo {
            // padding-left: px;
            width: 75px;
            height: 75px;
        }
    }
}


//laplet
@media (max-width: 600px) {
    .cta {
        .item {
            &:not(.active):active {
                transform: scale(1.1);
            }
        }
    }

    .logo_detail{
        span {
            display: none;
        }

        .logo {
            height: 75px;
            width: 75px;
            padding-left: 5px;
        }

        .menu {
            position: absolute;
            width:  clamp(40px, 10%, 100px);
            bottom: clamp(35px, 70%, 55px);
            right: 5px;
            z-index: 999;

            cursor: pointer;

            &:hover {
                transform: scale(0.9);
            }

            &:active {
                transform: scale(1);
            }
        }

        justify-content: center;
        padding-right: 10px;
    }
}

