
.path {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 35px;

    &::before {
        content: "";
        width: 90%;
        height: 1px;
        background-color: black;
        position: absolute;
        transform: 
            translateY(20px)
    }

    .link {
        // display: flex;
        font-size: 1.5rem;
        // font-weight: bold;
        padding-bottom: 5px;
        transition: all .1s linear;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 0px;
            height: 2px;
            background-color: black;
            transform: translateY(20px) translateX(-2px);
            transition: all .3s ease;
        }

        &:hover:before {
            width: 120%;
        }
    }
    
    .warp {
        display: flex;
        align-items: center;
        // flex-direction: row;
    
        .img_warp {
            align-items: center;
            margin-left: 10px;
            margin-right: 10px;
            height: 7px;
            width: 7px;
            display: flex;
            align-items: center;
        
            img {
                transform: translateY(-2px);
                display: inline-block;
                height: 100%;   
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* HTML: <div class="loader"></div> */

  .warp_loading {
    display: flex;
    align-items: center;

    .loader {
        display: inline-block;
        width: 25px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 8px solid #B7B7B7;
        animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
    }
    @keyframes l20-1{
        0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
        12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
        25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
        50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
        62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
        75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
        100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
    }
    @keyframes l20-2{ 
        0%    {transform:scaleY(1)  rotate(0deg)}
        49.99%{transform:scaleY(1)  rotate(135deg)}
        50%   {transform:scaleY(-1) rotate(0deg)}
        100%  {transform:scaleY(-1) rotate(-135deg)}
    }

    span {
        margin-left: 10px;
        font-size: 1.4rem;
    }
  }